<mat-card class="listCard">
  <mat-grid-list cols="4" >
    <mat-grid-tile *ngFor="let item of itemsArr">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <a routerLink="/detail/{{item.id}}" matBadge="{{itemCount[item.id]}}" matBadgeColor="warn">
          <img class="itemImage" src="{{item.img}}" alt="{{item.name}}" layout-fill >
        </a>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
