<mat-sidenav-container class="all-wrap" fullscreen>
  <mat-sidenav #sidenav>
    <mat-list>
      <mat-list-item [routerLink]="['/']"> HOME</mat-list-item>
      <mat-list-item [routerLink]="['/list']"> LIST</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar>
        <button mat-button type="button" mat-icon-button (click)="sidenav.open()" title="Open sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        ShopHere
        <span fxFlex></span>
        <app-cart></app-cart>
      </mat-toolbar>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <footer>
    </footer>
  </div>
</mat-sidenav-container>
