<mat-card class="listCard">
  <mat-grid-list cols="4" >
    <mat-grid-tile *ngFor="let obj of items">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{obj.name}}</mat-card-title>
        </mat-card-header>
        <a routerLink="/detail/{{obj.id}}">
          <img class="itemImage" src="{{obj.img}}" alt="{{obj.name}}" layout-fill >
        </a>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
