
<mat-card class="detailCard">
  <mat-card-header>
    <mat-card-title>{{itemDetail.name}}</mat-card-title>
    <mat-card-subtitle>{{itemDetail.type}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{itemDetail.image}}" alt="">
  <mat-card-content>
    <p>{{itemDetail.desc}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="sendToCart()">ADD TO CART</button>
  </mat-card-actions>
</mat-card>
