/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
a {
  text-decoration: none;
  color: #ffffff;
}
a visited{
  text-decoration: none;
}
